body{
    background-color: #002224;
    color: white;
}

header{
    text-align: center;
}

nav{
    width: 100%;
    background-color: black;
    border-bottom: 3px solid grey;
    border-top: 3px solid grey;
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

nav ul li{
    text-decoration: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

#biografia{
    display: flex;
    align-items: flex-start; /* evita que las imagenes dentro del contenedor se estiren */
}


#biografia img{
    width: 300px;
}

#biografia p{
    width: 1000px;
    margin-top: 100px;
    margin-left: 50px;
}
