
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #222;
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 25px;
      background-color: #222;
      color: rgb(0, 0, 0);
    }

    nav .logo {
      font-size: 1.5em;
      display: flex;
      align-items: center;
      font-weight: bold;
      background-color: #fffb00;
      padding: 5px 5px;
      border-radius: 100px;
      gap: 10px;
    }
    nav .logo img{
      width: 80px;   
      height: 80px;
      border-radius: 100px; 

    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 20px;
    }

    nav ul li a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 1em;
      transition: color 0.3s;
    }

    nav ul li a{
      display: flex;           
      align-items: center;        
      gap: 10px;                
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 1.5em;
      font-weight: bold;
      background-color: #fffb00;
      padding: 20px 30px;
      border-radius: 100px;

    }

    nav ul li a img {
      width: 55px;  
      height: 55px;
    }

    nav ul li img{
      font-weight: bold;
      background-color: #1d1d1d;
      padding: 1px;
      border-radius: 1000px;
    }

    nav ul li a:hover {
      color: #c19a00;
    }

    .contenido {
      flex: 1;
      display: grid;
      grid-template-columns: 1fr auto 1fr; /*  Acomodar Contenido en Izquierda - Centro - Derecha */
      gap: 20px;
      align-items: center;
      justify-items: center;
      padding: 20px;
      background-color: #000000a6;
    }

    .contenido article {
      background-color: #fffb00;
      padding: 20px;
      border-radius: 10px;
      width: 80%;
      min-height: 200px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
      font-weight: bold;
    }

    .contenido article h2{
      text-align: center;
    }

    .contenido article p{
      text-align: center;
      font-size: 20px ;
    }

    .contenido img {
      background-color: #222;
      width: 500px;
      height: 500px;
      margin: 30px;
      padding: 30px;
      border-radius: 50px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    }

    footer {
      background-color: #111;
      color: #fff;
      padding: 40px 20px 20px;
      font-size: 0.9em;
    }

    .footer-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*definir el número y el ancho de las columnas en un diseño de cuadrícula*/
      gap: 30px;
      margin-bottom: 20px;
    }

    .footer-section h3 {
      margin-bottom: 10px;
      font-size: 1.2em;
      color: #fffb00;
    }

      .footer-section p, .footer-section a {
      color: #bbb;
      text-decoration: none;
    }

    .footer-section a:hover {
      color: #fffb00;
    }

    /* Redes sociales */
    .social-icons {
      display: flex;
      gap: 10px;
    }

    .social-icons a {
      font-size: 1.5em;
      color: #fffb00;
      transition: color 0.3s;
    }

    .social-icons a:hover {
      color: #c19a00;
    }

    
  .footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 15px;
    font-size: 0.8em;
    color: #777;
  }