body{
    height: 100%;
    margin: 0%;
    background-color: yellow;
}
h1,h2{
    text-align: center  ;
}
h3{
    position: relative;
    display: block;
}
header{
    background-color: black;
    color: yellow;
    padding: 5px 5px;
    text-align: center;
    } 

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img{
    width: 80px;
    height: 80px;
    border-radius: 5%;
}

footer{
    background-color: black;
    text-align: center;
    color: yellow;
    display: grid;
}
.circulo_Jaique{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border:  5px solid black;
    transition: transform 0.3s ease;
}
.circulo_Jaique:hover{
    transform: scale(1.3);
}
#Jaique{
    display:inline-flex;
    margin-right: 15px;
}