body{
    height: 100%;
    margin: 0%;
    background-color: yellow;
}
h1,h2{
    text-align: center  ;
}
h3{
    position: relative;
    display: block;
}
header{
    background-color: black;
    color: yellow;
    padding: 5px 5px;
    text-align: center;
    } 

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img{
    width: 80px;
    height: 80px;
    border-radius: 5%;
}

.circulo_Jaique{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border:  5px solid black;
    transition: transform 0.3s ease;
}
.circulo_Jaique:hover{
    transform: scale(1.3);
}
#Jaique{
    display:inline-flex;
    margin-right: 15px;
}
.circulo_Eduard{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border:  5px solid black;
    transition: transform 0.3s ease;
}
.circulo_Eduard:hover{
    transform: scale(1.3);
}
#Eduard{
    display:inline-flex;
    margin-right: 15px;
}
.circulo_Adriel{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border:  5px solid black;
    transition: transform 0.3s ease;
}
.circulo_Adriel:hover{
    transform: scale(1.3);
}
#Adriel{
    display:inline-flex;
    margin-right: 15px;
}
.circulo_Dios{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border:  5px solid black;
    transition: transform 0.3s ease;
}
.circulo_Dios:hover{
    transform: scale(1.3);
}
#Dios{
    display:inline-flex;
    margin-right: 15px;
}
.circulo_Berna{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border:  5px solid black;
    transition: transform 0.3s ease;
}
.circulo_Berna:hover{
    transform: scale(1.3);
}
#Berna{
    display:inline-flex;
    margin-right: 15px;
}
.circulo_Aylen{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border:  5px solid black;
    transition: transform 0.3s ease;
}
.circulo_Aylen:hover{
    transform: scale(1.3);
}
#Aylen{
    display:inline-flex;
    margin-right: 15px;
}.circulo_Sabrina{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border:  5px solid black;
    transition: transform 0.3s ease;
}
.circulo_Sabrina:hover{
    transform: scale(1.3);
}
#Sabrina{
    display:inline-flex;
    margin-right: 15px;
}
.circulo_Fatima{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border:  5px solid black;
    transition: transform 0.3s ease;
}
.circulo_Fatima:hover{
    transform: scale(1.3);
}
#Fatima{
    display:inline-flex;
    margin-right: 15px;
}
.circulo_pablo_diego{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border:  5px solid black;
    transition: transform 0.3s ease;
}
.circulo_pablo_diego:hover{
    transform: scale(1.3);
}
#pablo_diego{
    display:inline-flex;
    margin-right: 15px;
}
footer {
  background-color: #111;
  color: #ccc;
  padding: 40px 20px 10px;
  font-family: Arial, sans-serif;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  border-bottom: 1px solid #444;
  padding-bottom: 20px;
}
.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-section h3 {
  color: yellow;
  margin-bottom: 10px;
}

.footer-section a {
  color: #66b2ff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}
