@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    color: white;
    font-family: "Playfair Display", serif;
    /* font-family: "Lato", sans-serif; */
}

body{
    background-color: #222;
}

header {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    position: relative; /* hace que titulo con position absolute se base en las dimensiones del header */
    padding: 10px;
}

.logo {
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: #fffb00;
    padding: 5px 5px;
    border-radius: 100px;
    gap: 10px;
    width: 200px;
}

.logo img{
    width: 50px;   
    height: 50px;
    border-radius: 100px; 
}

.logo span{
    color: black;
}

a{
    text-decoration: none;
}

.titulo {
    position: absolute; /* hace que los demas elementos ya no lo tengan en cuenta */
    left: 50%; /* hace que el borde izquierdo del contenedor "titulo" se mueva hacia la mitad del contenedor header*/
    transform: translateX(-50%); /* hace que la mitad del contenedor "titulo" se mueva hacia la mitad del contenedor "header" */
    text-align: center;
}

h1, h2, h3{
    font-family: "Playfair Display", serif;
}

nav{
    width: 100%;
    background-color: black;
    border-bottom: 3px solid #fdff50;
    border-top: 3px solid #fdff50;
    text-align: center;
    margin-top: 30px;
}

nav ul {
    height: 40px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 400px; /* define el espacio entre los elementos */
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul a li{
    display: inline-block;
    border: 2px solid #fdff50;
    border-radius: 10px;
    padding: 7px;
    width: 80px;
    background-color: #fdff50;
}

nav ul a li{
    color: black;
    text-decoration: none;
}

nav ul a li:hover{
    background-color: black;
    border: black;
}

nav ul a li:hover{
    color: white;
}

h2{
    margin-left: 70px;
    font-size: 40px;
}

#obras h2, #galeria h2{
    text-align: center;
}

#biografia{
    margin-top: 50px;
}


#biografia img{
    width: 300px;
    float: left; /* hace que el texto rodee la imagen */
    border: 1px solid #fdff50 ;
    margin: 0 20px 8px 5px;
    border-radius: 10px;
}

#biografia p{
    margin-left: 20px;
    margin-right: 40px;
    text-align: justify;
    font-size: 18px;
}

.obra{
    background-color: black; 
    border-radius: 15px;
    border: 2px solid #fdff50;
    margin: 20px;
    padding: 15px;
    display: flex;
}

.obra img{
    margin-right: 20px;
    border-radius: 15px;
}

.obra p{
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fdff50;
    font-size: 20px;
}

.obra div{
    flex: 1; /* hace que los elementos ocupen el espacio restante hacia la derecha */
}

#fila1{
    display: flex;
}

#fila2{
    display: flex;
}


#galeria img{
    width: 400px;
}

#galeria .imagen{
    width: 450px;
    background-color: black;
    border: 2px solid #fdff50;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

#galeria .imagen p{
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fdff50;
    font-size: 20px;
}
