@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    color: white;
    /* font-family: "Playfair Display", serif; */
    font-family: "Lato", sans-serif;
}

body{
    background-color: #222;
}

header{
    text-align: center;
}

h1, h2, h3{
    font-family: "Playfair Display", serif;
}

nav{
    width: 100%;
    background-color: black;
    border-bottom: 3px solid #fdff50;
    border-top: 3px solid #fdff50;
    text-align: center;
}

nav ul {
    height: 40px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 400px;               /* define el espacio entre los elementos */
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li{
    text-decoration: none;
    display: inline-block;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

#biografia{
    margin-top: 50px;
}


#biografia img{
    width: 300px;
    float: left;       /* hace que el texto rodee la imagen */
    border: 1px solid #fdff50 ;
    margin: 0 20px 8px 5px;
    border-radius: 10px;
}

#biografia h2{
    font-size: 40px;
}

#biografia p{
    margin-left: 20px;
    margin-right: 40px;
    text-align: justify;
    font-size: 18px;
}

.obra{
    background-color: black; 
    border-radius: 15px;
    border: 2px solid #fdff50;
    margin: 20px;
    padding: 15px;
    display: flex;
}

.obra img{
    margin-right: 20px;
    border-radius: 15px;
}

.obra p{
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fdff50;
    font-size: 20px;
}

.obra div{
    flex: 1; /* hace que los elementos ocupen el espacio restante hacia la derecha */
}

#fila1{
    display: flex;
}

#fila2{
    display: flex;
}


#galeria img{
    width: 400px;
}

#galeria .imagen{
    width: 450px;
    background-color: black;
    border: 2px solid #fdff50;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

#galeria .imagen p{
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fdff50;
    font-size: 20px;
}
